body{
    margin: 0;
}

.grid{
    display:grid;
    grid-template-columns: 3fr 3fr;
    grid-template-areas: 
    " head  head "
    "sec-1 sec-2"
    " output output "
    " foot foot ";
    grid-column-gap: 3px;
}

div{
    text-align: center;
    margin:2px;
    border: 1px solid black;
}

.head{
    text-align: center;
    grid-area: head;
    width: 100%;
}

.sec-1{
    grid-area: sec-1;
    display: grid;
    grid-template-rows: auto;
    grid-row-gap: 10px;

}

.sec-2{
    grid-area: sec-2;
}

.foot{
    margin-top: 18%;
    background-color: black;
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    grid-area: foot;
}

.output{
    grid-area:output;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


img{
    width:50px;
    height:50px;
}